<header>
   <picture class="header__bg">
      <img src="./img/bg_9.jpg" alt="">
   </picture>

   <section class="container">
      <div class="navbar">
         <div class="navbar_nav">
            <a href="#" class="header__logo logo">
               <img src="./img/logo_1.png" alt="logo" width="80" height="80" class="logo__img">
               <img src="./img/logo_2.png" alt="logo" width="80" height="80" class="logo__img">
               <img src="./img/logo_3.png" alt="logo" width="80" height="80" class="logo__img">
               <img src="./img/logo_4.png" alt="logo" width="80" height="80" class="logo__img">
            </a>
            <h2 class="header__tittle">
               Health is the way to a happy life
            </h2>

            <button id="btn-open-modal-login" class="btn-modal" style="margin: 0 auto;">SIGN UP</button>
            <button id="btn-logout" class="btn-modal logout-hide" style="margin: 0 auto;">LOGOUT</button>
         </div>
   </section>

   @@include('components/modal-login.html',{})
</header>