#filter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  column-gap: 10px;
  padding: 20px 20px;
  color: #9400d3;
}

#searchByKeyword {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #9400d3;
  padding: 10px;
  outline: none;
}
.reset-form {
  color: $main-color;
  font-size: 16px;
  background-color: #9400d3;
  border-radius: 10px;
  height: 30px;
  width: 120px;
  border: none;
  cursor: pointer;
}
.reset-form:hover {
  background-color: rgba(48, 93, 184, 0.9);
}

.filter-parts {
  font-size: 18px;
  font-weight: 700;
}
