body {
  text-align: center;
}

.header {
  position: relative;
  padding-bottom: 500px;

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    & img {
      height: 100%;
      width: 100%;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.navbar_nav {
  min-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 250px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  margin-right: 10px;
}

.header__tittle {
  font-family: $font-Monserat;
  color: #9400d3;
  text-shadow: 1px 1px #800080, -1px -1px #800080, -1px 1px #800080,1px -1px #800080;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-left: 30px;
}

.btn-modal {
  font-size: 16px;
  color: $main-color;
  background: #9400d3;
  border: 0;
  width: 160px;
  height: 48px;
  border-radius: 25px;
  font-family: $font-Monserat;
  letter-spacing: 1px;
}

.btn-modal:hover {
  background: rgba(48, 93, 184, 0.9);
}

.login-hide {
  display: none;
}

.logout-hide {
  display: none;
}